/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    background-color: #515b69 !important;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Lora', serif;
}

p {
    font-family: 'Merriweather', serif;
}

/* MAIN HEADER SECTION */

#index-header-section {
    background-image: url(../images/index-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100vh;
}

#index-header-section::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #202020;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}


.main-content .common-sub-title {
    margin-top: 39px;
}


.main-content .common-sub-title h3 {
    font-size: 22px;
    font-family: 'Lora', serif;
}

.main-content {
    text-align: center;
    color: white;
    margin-top: 135px;
    position: relative;
}


/* HEADER BUTTON SECTION */

.header-button .btn {
    background-color: #3c5763;
    border-radius: 18%;
    color: white;
}

.header-button .btn:hover {
    border-radius: 30% !important;
    background-color: transparent !important;
    color: white;
    border-color: gray;
    transition: ease-in 0.4s;
}

.header-button {
    margin-top: 50px;
}

/************* DESIGN PAGE STARTS HERE ************************/

#designHeader {
    background-image: url(../images/designHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100vh;
}



#designHeader::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #202020;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}



/******************* NAVIGATION SECTION STARTS HERE *************/

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    margin-top: 10px !important;
    /*    margin-right: 15px !important;*/
}

.navbar {
    padding: 38px !important;
}


/* ABOUT ME SECTION */

.common-title {
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 500;
    padding-top: 20px;
    color: #fefefe;
}

.common-title::before {
    content: '';
    background-color: #1f226f;
    height: 4px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    border-radius: 50%;
}

.common-title::after {
    content: '';
    background-color: #5a64b7;
    height: 9px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    display: block;
    transform: translateY(0px);
    text-shadow: 11px 13px 11px black, 0 0 13px blue, 0 0 13px darkblue;
    border-radius: 50%;
}


#aboutMe-section .col-md-6 {
    text-align: center !important;
}

#aboutMe-section .col-md-6 p {
    margin: 30px !important;
    font-family: 'Merriweather', serif;
    color: #fefefe;
}

#aboutMe-section .col-md-6 img {
    border-radius: 40% !important;
    border-color: 3px black !important;
}




/************** SKILLS SECTION STARTS HERE ****************/

#skills-section .card-image img {
    width: 350px;
    opacity: 0.4;


}

#skills-section .card-image {
    text-align: center;
}

#skills-section .card-content1 {
    background-color: #3a4c66;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: #fefefe;
}

#skills-section .card-content2 {
    background-color: #dde1e6;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

#skills-section .card-content3 {
    background-color: #3a4c66;
    color: white;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

#skills-section .text-container {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}


#skills-section .content {
    color: black;
    font-size: 15px;
    position: relative;
    bottom: 50px;

}

#skills-section .card-image:hover {
    opacity: 2;
    transition: 0.7s !important;
}

#skills-section .col-md-6:hover .card-image img {
    filter: brightness(0.6) !important;
    transition: 0.7s !important;
}

#skills-section .col-md-6:hover .text-container {
    opacity: 9;
    filter: brightness(0.9) !important;
    transition: 0.7s !important;
}

#skills-section .col-md-6:hover .text-container .content {
    color: #ffffff;

}


/**************** PROJECTS SECTION STARTS HERE **************/

#projects-section .project-image {
    text-align: center;
}

#projects-section .text-container {
    text-align: center;
}


/* #projects-section .project-image img {
    width: 350px;
    opacity: 0.4;
    
} */


#projects-section .text-container {
    transition: ease-out 0.7s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}


#projects-section .content {
    color: black;
    font-size: 15px;
    position: relative;
    bottom: 33px;

}

#projects-section .content h1 {
    font-size: 32px;
    padding: 15px;
}

#projects-section .project-image:hover {
    opacity: 2;
    transition: 0.7s !important;
}

#projects-section .carousel-inner:hover .project-image img {
    filter: brightness(0.5) !important;
    transition: 0.7s !important;
}

#projects-section .carousel-inner:hover .text-container {
    opacity: 9;
    filter: brightness(0.9) !important;
    transition: 0.7s !important;
}

#projects-section .carousel-inner:hover .content {
    color: #ffffff;

}

#projects-section .text-container .buttons .common-btn {
    margin: 10px;
    background-color: #494b61;
    color: #ffffff;
    border-radius: 16%;
    padding: 3px 10px;
    border-color: transparent !important;
}

#projects-section .text-container .buttons .common-btn:hover {
    background-color: transparent;
    transition: ease-in-out 0.6s;
    border-radius: 30%;
    border-color: lightgray !important;
}



/****************** CONTACT US SECTION STARTS HERE ***************/

.contactMe-section {
    display: flex;
    max-width: 550px;
    margin: 0 auto;
    background: rgb(48, 60, 75);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(5, 121, 182);
}

.input-sections {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-sections,
.message-section {
    width: 48%;
}

.input-sections .input,
.message-section textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #3989b2;
    padding: 10px;
    color: white;
    width: 100%;
}

.message-section textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
}

.button {
    background: #6cbbdf;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: transparent !important;
    transition: ease-in-out 0.7s;
    border-radius: 30%;
    border: 2px solid white;
}



/*************** FOOTER SECTION STARTS HERE **************/

#footer-section {
    text-align: center;
    margin-top: 40px;
    background-color: #3a4c66;
}

#footer-section .col-md-12 p {
    margin-top: 14px;
    color: white;
    font-size: 0.9em;
}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .contactMe-section {
        flex-direction: column;
    }

    .message-section textarea {
        height: 80px;
    }

    .input-sections,
    .message-section {
        width: 100%;
    }
}


@media only screen and (min-width: 320px) and (max-width: 479px) {

    .main-content {
        margin-top: 0px;
    }

    #projects-section .carousel-inner .project-image img {
        width: 100%;
        text-align: center;
    }

    #projects-section .content h1 {
        font-size: 25px;
    }

    #projects-section .text-container {
        width: 100%;
        font-size: 14px;
    }

    .common-title::before {
        content: none;

    }

    .common-title::after {
        content: none;

    }

    .common-title {
        padding-top: 35px;
        padding-bottom: 30px;
    }

}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {


    .navbar-light .navbar-toggler {
        margin: 0 auto;
    }

    .navbar {
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        color: white !important;
        border-color: white !important;
    }

    #index-header-section {
        height: 80vh;
        overflow: hidden;
    }

    .main-content {
        margin-top: 0px;
    }

    #projects-section .carousel-inner .project-image img {
        width: 100%;
        text-align: center;
    }

    #projects-section .content h1 {
        font-size: 25px;
    }

    #projects-section .text-container {
        width: 100%;
        font-size: 14px;
    }

    .common-title::before {
        content: none;

    }

    .common-title::after {
        content: none;

    }

    .common-title {
        padding-top: 35px;
        padding-bottom: 30px;
    }
}


@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {

    #index-header-section {
        background: url(../images/index-imgPhone.jpg);
        background-size: cover;
        height: 100vh;
        min-height: 100%;
        background-position: center;
    }

    .main-content {
        margin-top: 0px;
    }

    #projects-section .carousel-inner .project-image img {
        width: 100%;
        text-align: center;

    }

    #projects-section .content h1 {
        font-size: 25px;
    }

    #projects-section .text-container {
        width: 100%;
        font-size: 14px;
    }

    .common-title::before {
        content: none;

    }

    .common-title::after {
        content: none;

    }

    .common-title {
        padding-top: 35px;
        padding-bottom: 30px;
    }
}


@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {

    .navbar-light .navbar-toggler {
        margin: 0 auto;
    }

    .navbar {
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        color: white !important;
        border-color: white !important;
    }

    #index-header-section {
        height: 80vh;
        overflow: hidden;
    }
}
